{% extends 'registration/base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% if validlink %}
<div class="card-body login-card-body">
      <p class="login-box-msg">Change Password</p>

      <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        
            <button type="submit" class="btn btn-primary btn-block">Change password</button>
          
      </form>
      <!-- /.social-auth-links -->
    </div>
    <!-- /.login-card-body -->
  </div>
 {% else %}
 <p>The password link was expired or invalid</p> 
  {% endif %}
    {% endblock %}